@media screen and (min-width: 766px) {
  .form__btn {
    max-width: 240px;
  }
}

@media screen and (min-width: 766px) {
  .form__btn {
    min-width: 470px;
  }
}

@media screen and (min-width: 1023px) {
  .form__btn {
    min-width: 194px;
  }
}