.footer__img-wrapper {
  display: none;
}

@media screen and (min-width: 766px) {
  .footer__img-wrapper {
    display: block;
    position: absolute;
    right: 79px;
    top: -30px;
    width: 250px;
    height: 430px;
  }
}

@media screen and (min-width: 1310px) {
  .footer__img-wrapper {
    width: 311px;
    height: 500px;
    right: 15%;
  }
}