.picture {
  width: 260px;
  height: 522px;
  flex-shrink: 0;
  margin: 0;
  position: relative;
  margin-left: 10px;
}

@media screen and (min-width: 766px) {
  .picture {
    width: 226px;
    height: 461px;
  }
}

@media screen and (min-width: 1023px) {
  .picture {
    width: 258px;
    height: 520px;
  }
}