.header__title {
  color: var(--color-white);
  margin: 0;
  font-size: var(--large24);
  font-weight: var(--fw700);
  line-height: normal;
  margin-bottom: var(--small14);
}

@media screen and (min-width: 766px) {
  .header__title {
    font-size: var(--large33);
    margin-bottom: var(--medium20);
  }
}

@media screen and (min-width: 1023px) {
  .header__title {
    font-size: var(--extralarge);
    margin-bottom: var(--large26);
  }
}