.footer__content {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 266px;
}

@media screen and (min-width: 766px) {
  .footer__content {
    min-height: 350px;
    padding-bottom: 50px;
  }
}

@media screen and (min-width: 1310px) {
  .footer__content {
    min-height: 410px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1442px) {
  .footer__content {
    max-width: 1103px;
    margin: 0 auto;
  }
}