.header__img-wrapper {
  display: block;
  margin: 0 auto;
  width: 260px;
  height: 522px;
}

@media screen and (min-width: 766px) {
  .header__img-wrapper {
    position: absolute;
    top: 121px;
    right: 21px;
    width: 274px;
    height: 502px;
  }
}

@media screen and (min-width: 1023px) {
  .header__img-wrapper {
    width: 311px;
    height: 630px;
    top: 40px;
    right: 15%;
  }
}

@media screen and (min-width: 1552px) {
  .header__img-wrapper {
    position: relative;
    grid-area: phone;
  }
}
