.pictures {
  margin: 0;
  padding: 70px 20px 50px;
  display: flex;
  overflow: hidden;
  column-gap: 15px;
}

@media screen and (min-width: 766px) {
  .pictures {
    padding: 70px 20px 0 10px;
    justify-content: center;
    column-gap: 5px;
  }
}

@media screen and (min-width: 1323px) {
  .pictures {
    padding: 120px 110px 185px 0;
    column-gap: 107px;
  }
}