.article__text {
  color: var(--color-black06);
  font-size: var(--small15);
  font-weight: var(--fw500);
  line-height: var(--medium20);
}

@media screen and (min-width: 1023px) {
  .article__text {
    font-size: var(--small16);
    line-height: var(--medium20);
  }
}